[Unit]
Description=Duck DNS Updater
After=multi-user.target
Requires=multi-user.target

[Service]
User=birdofprey
Type=simple
ExecStart=/home/birdofprey/duckdns-systemd/duckdns

[Install]
WantedBy=multi-user.target
