[Unit]
Description=Duck DNS Updater
After=multi-user.target
Requires=multi-user.target

[Service]
Type=simple
ExecStart=/home/user/duckdns

[Install]
WantedBy=multi-user.target
